@import vars
@import timeline

@font-face
    font-family: 'Merriweather'
    font-style: normal
    font-weight: 400
    src: local('Merriweather'), url('../fonts/Merriweather/Merriweather-Regular.ttf')
=flexCenter($direction, $justifyContent)
    display: flex
    justify-content: $justifyContent
    align-items: center
    //text-align: center
    flex-direction: $direction
    height: 100vh
body
    font-family: 'Merriweather', 'sans-serif'
    //background-color: $backgroundColor
    background-image: url("../assets/parchment.jpg")
h4
    margin-top: 0.5em
#startingPage
    +flexCenter(column, center)
#articlePage
    +flexCenter(column, none)
#finishPage
    +flexCenter(column, center)
#articleContent
    word-wrap: break-word
    max-width: 1000px
.title
    font-size: 400%
#timer
    margin-top: 1em
    font-size: 125%
#articleButtons
    display: inline-block
#articleQuestions
    +flexCenter(column, none)

.btn-main
    background-color: $accentColor
    padding-right: 1.5em
    padding-left: 1.5em
    margin: 0.5em 1em
    display: inline
    &:hover
        background-color: $accentHoverColor